<div id="background">
<section id="register">




<h1>Meet our supporters!</h1>

<p>.. and click their names to see what they are up to</p>
<p>... and click the city if you want to find signers nearby</p>

<div class="listSupporter">
{{#listSupporter}}
<p> Name: <a href="{{url}}" >
     {{first}} {{last}}
</a> Age: {{age}}
City: 
<a href="/signers/{{city}}" > {{city}}</a></p>
{{/listSupporter}}

<a href="/logout"> <button>logout</button> </a>
</div>
</section>
</div>