<div id="background">
     <section id="register">
<h1>These are the people supporting our cause in your city</h1>

<div class="listSupporter">
{{#listSupporter}}
<p>Name:<a href="{{url}}" target="_blank">
     {{first}} {{last}}
</a>Age: {{age}} City: {{city}}</p>
{{/listSupporter}}
<a href="/logout"> <button class="petition--unsign">logout</button> </a>
</div>
</section>
</div>