<h1>These are the people supporting our cause in your city</h1>

<div class="listSupporter">
{{#listSupporter}}
<p><a href="{{url}}" target="_blank">
     {{first}} {{last}}
</a> {{age}} {{city}}</p>
{{/listSupporter}}

</div>